<h1>Order Details</h1>

<p>
  <strong>Origin:</strong>
  <%= @order.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @order.destination %>
</p>

<p>
  <strong>Payment Type:</strong>
  <%= @order.payment_type %>
</p>

<p>
  <strong>Service Type:</strong>
  <%= @order.service.service_type %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @order.distance %> km
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@order.price, unit: "Rp ", delimiter: ".", separator: ",") %>
</p>

<%= link_to 'Back', orders_path %>