<p id="notice"><%= notice %></p>

<section>
  <%= image_tag 'GO-RIDE.jpg', class: 'mySlides', width: '100%' %>
</section>

<section class="w3-container w3-center w3-content" style="max-width:600px">
  <h2 class="w3-wide">ABOUT GO-JEK</h2>
  <p class="w3-opacity"><i>One App For All Your Needs</i></p>
  <p class="w3-justify">Established in 2010 as a motorcycle ride-hailing phone service, GO-JEK has evolved into an on demand provider of transport and other lifestyle services. Go anywhere easily, quickly, and hassle-free. It’s an easier and more comfortable ride for you and your co-travelers.</p>
</section>

<section class="w3-row-padding w3-center w3-light-grey">
  <article class="w3-third">
    <p>GO-RIDE</p>
    <%= image_tag 'go-ride.svg', alt: 'GO-RIDE', height: '100%' %>
    <p>The first online motorcycle taxi service in Indonesia.</p>
  </article>
  <article class="w3-third">
    <p>GO-CAR</p>
    <%= image_tag 'go-car.svg', alt: 'GO-CAR', height: '100%' %>
    <p>A convenient ride for one passenger or more.</p>
  </article>
  <article class="w3-third">
    <p>GO-PAY</p>
    <%= image_tag 'go-pay.svg', alt: 'GO-PAY', height: '100%' %>
    <p>Easier cashless transactions with range of new features.</p>
  </article>
</section>